@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,900&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


.App {
  text-align: center;
  background-image: url("https://openai.com/content/images/2020/04/2x-no-mark-1.jpg");
  min-height: 100vh;
}

.App-header {
  position: -webkit-sticky;
position: sticky;
top: 0px;
  z-index: 100;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.Logo{
  margin: 20px;
  font-family: 'Yatra One', cursive;
  font-size: 20px;
  font-weight: bold;
  color: coral;
}
.middleText{
  font-family: 'Train One', cursive;
  color: rgb(201, 36, 201);
}
.Music{
  display: flex;
  flex-direction: row;
 
  
}
@media(max-width:500px){
  .middleText{
    visibility: hidden;
    display: none;
  }
}